<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.cocoadocs.parselivequery.ParseLiveQuery</string>
	<key>CFBundleName</key>
	<string>ParseLiveQuery Documentation</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.1</string>
	<key>CFBundleVersion</key>
	<string>2.2.1</string>
	
	
	
	<key>DocSetFallbackURL</key>
	<string>http://cocoadocs.org/docsets/ParseLiveQuery</string>
	<key>DocSetFeedName</key>
	<string>ParseLiveQuery</string>
	<key>DocSetFeedURL</key>
	<string>http://cocoadocs.org/docsets/ParseLiveQuery/xcode-docset.atom</string>
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	
	<key>DashDocSetFamily</key>
	<string>appledoc</string>
	<key>DocSetPublisherIdentifier</key>
	<string>com.cocoadocs.parselivequery.documentation</string>
	<key>DocSetPublisherName</key>
	<string>Richard Ross, Nikita Lutsenko and Florent Vilmart</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Richard Ross, Nikita Lutsenko and Florent Vilmart. All rights reserved.</string>
</dict>
</plist>
